.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {                 /* selecting all elements with class "app-container" */
  background-color: #5d79d3;   /* makes background a shade of grey */
  color: #5d79d3;
  font-size: 16px;               /* sets font size to 16 pixels */
  padding: 1em;                  /* adds 1 font-size (i.e. 16px) of space inside the element */
  min-height: calc(100vh - 2em); /* a little complicated! refer to appendix */
}

/*
html {
  animation: change 15s infinite;
}

@keyframes change {
    0% {background-color: #1abc9c;}
    12.5% {background-color: #2ecc71;}
    25% {background-color: #3498db;}
    37.5% {background-color: #9b59b6;}
    50% {background-color: #e74c3c;}
    62.5% {background-color: #9b59b6;}
    75% {background-color: #3498db;}
    100% {background-color: #2ecc71;}
}
*/